* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.btn{
  display: inline-block;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;;
}

.tasks {
  display: block;
  min-height: 400px;
  padding: 10px;
  margin: 20px;
}

.noTasks {
  background-color: #37ba63;
  margin: 10px;
  padding: 10px 20px;
}

.task {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.timesIcon{
  padding: 10px;
  color: red;
  cursor: pointer;
}

/* .task h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* 
* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 350px;
  height: 400px;
  background-color: #24232B;
}

.top {
  padding: 24px 24px 32px 24px; 
  color: white;
  font-size:20px;
}

.charLen {
  display: flex;
  padding: 24px 24px 32px 24px;
    color: #707070;
    font-size: 20px;
    justify-content: space-between;
}


.checkboxes{
  display: block;
  justify-content: space-around;
  padding: 12px 24px;
  color: #707070;
}

.checkboxesGap{
  margin: 0px 15px 5px 0px;
}

.generatebtn {
  min-width: 300px;
  color: white;
  font-size: 20px;
  height: 50px;
  background-color: #2A8B8B;
  border-radius: 5px;
  border: none;
  margin: 12px 24px;
} */